[submodule "deps/base64"]
	path = deps/base64
	url = https://github.com/minecraft-linux/base64
[submodule "deps/file-util"]
	path = deps/file-util
	url = https://github.com/minecraft-linux/file-util
[submodule "deps/properties-parser"]
	path = deps/properties-parser
	url = https://github.com/minecraft-linux/properties-parser
[submodule "deps/arg-parser"]
	path = deps/arg-parser
	url = https://github.com/minecraft-linux/arg-parser
[submodule "deps/libhybris"]
	path = deps/libhybris
	url = https://github.com/minecraft-linux/libhybris
[submodule "deps/minecraft-symbols"]
	path = deps/minecraft-symbols
	url = https://github.com/codehz/minecraft-symbols
[submodule "deps/minecraft-imported-symbols"]
	path = deps/minecraft-imported-symbols
	url = https://github.com/minecraft-linux/minecraft-imported-symbols
[submodule "deps/mcpelauncher-common"]
	path = deps/mcpelauncher-common
	url = https://github.com/minecraft-linux/mcpelauncher-common
[submodule "deps/mcpelauncher-core"]
	path = deps/mcpelauncher-core
	url = https://github.com/minecraft-linux/mcpelauncher-core
[submodule "deps/mcpelauncher-just"]
	path = deps/mcpelauncher-just
	url = https://github.com/minecraft-linux/mcpelauncher-just
[submodule "exts/sqlite3"]
	path = exts/sqlite3
	url = https://github.com/alex85k/sqlite3-cmake
[submodule "exts/simppl"]
	path = exts/simppl
	url = https://github.com/codehz/simppl
